@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

body {
	font-family: 'Source Sans Pro', sans-serif;
}

header {
	background:
		linear-gradient(
			rgba(0, 0, 0, 0.1),
			rgba(0, 0, 0, 0.1)
		),
		url(http://miriadna.com/desctopwalls/images/max/Snow-and-sunset.jpg);
	background-size: cover;
	height: 100vh;
}

textarea {
	background:
		linear-gradient(
			rgba(0, 0, 0, 0.1),
			rgba(0, 0, 0, 0.1)
		);
	border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.resources {
	position: absolute;
	top:1%;
	left:-6.5%;
	transform: translate(50%, 50%);
	color: white;
	text-align: right;
}

.history {
	position: absolute;
	top:1%;
	right:18%;
	transform: translate(50%, 50%);
	color: white;
	text-align: right;
}

.log-out {
	position: absolute;
	top:1%;
	right:8%;
	transform: translate(50%, 50%);
	color: white;
	text-align: right;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
}

h1 {
	text-transform: uppercase;
	margin: 0;
	font-size: 8rem;
	white-space: nowrap;
}

p {
	margin: 0;
	font-size: 2rem;
}

main {
	max-width: 500 px;
	margin: 20px auto;
}